<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGH1feoj0e6yftve5igleMq5x7BV2LnWI</string>
	<key>GCM_SENDER_ID</key>
	<string>307657646165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>strangerschatbynam</string>
	<key>STORAGE_BUCKET</key>
	<string>strangerschatbynam.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307657646165:ios:cfec54094654e98f0b34dc</string>
	<key>DATABASE_URL</key>
	<string>https://strangerschatbynam-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>